.MainContainer {
    font-family: sans-serif;
}

.NavLogo {
    align-items: center;
    display: flex;
}
nav{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    padding: 1%;
    flex: 0, 0, auto;
}
.NavLogo span{
    padding-left: 10px;
}

.NavAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.Content {
    border: 5px solid red;
    display: flex;
    font-style: bold;  
}
.Left{
  border: 5px solid greenyellow;
  flex-basis: 20%;
  flex-shrink: 0;
  overflow-y: auto;    
}
.LeftContent {
    display: flex;
      
}
.Center{
  border: 5px solid blue;
  flex-grow: 1;
  overflow-y: auto;   
}
.Right{
    border: 5px solid yellow;
    flex-basis: 20%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow-y: auto; 
    

}
.CenterPost{
    display: flex;
}
