.MainContainer {
    font-family: sans-serif;
}
.navbar {
    border: 5px solid black;
    height: 50px;
    font-size: 20px;
    
}
.Content {
    border: 5px solid red;
    display: flex;
    font-style: bold;
    
}
.Left{
  border: 5px solid greenyellow;
  flex-basis: 20%;
  flex-shrink: 0;
  overflow-y: auto;    
}
.LeftContent {
    display: flex;
      
}
.Center{
  border: 5px solid blue;
  flex-grow: 1;
  overflow-y: auto;   
}
.Right{
    border: 5px solid yellow;
    flex-basis: 20%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow-y: auto; 
    

}
.CenterPost{
    display: flex;
}
